body {
  height: 100%;
  margin: 0;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Poppins", sans-serif;
}

h1,
h3 {
  color: #133249;
}
h1.location {
  font-size: 25px;
  color: #133249;
}
h3.today-detail {
  font-size: 18px;
  color: #133249;
}
.humidity-wind {
  font-size: 14px;
  color: #133249;
  padding: 20px 0;
}

.container {
  max-width: 75%;
  display: block;
  margin: 50px auto;
}
.container-wrapper {
  background-color: antiquewhite;
  padding: 25px;
  border-radius: 15px;
}

.today {
  display: block;
  margin: 0 auto;
  text-align: center;
  padding: 50px 0;
  color: #133249;
}
.future {
  display: block;
  background-color: rgb(232, 203, 203);
  font-size: 26px;
  border-radius: 15px;
  padding: 0;
  margin: 0 auto;
}

.max-temp {
  color: #133249;
  font-size: 20px;
  padding: 0 5px 0;
}
.min-temp {
  color: #133249;
  opacity: 75%;
  font-size: 20px;
}

/* --bs-gutter-x: 0; */

/* .row-future {
  text-align: center;
  padding: 30px 0;
  margin: 26px;
  height: 62px;
  display: flex;
  justify-content: center;
  align-items: center;
} */

.col-4 {
  display: inline;
  text-align: center;
  padding: 0;
}
.col-4.future-day {
  color: #133249;
  font-size: 20px;
  padding: 15px 0;
}

.today-temp {
  font-size: 55px;
  font-weight: 700;
}

.btn {
  color: #ffffff;
  background: #535e4b;
  font-size: 15px;
  border: none;
  width: auto;
}
.btn:hover {
  transition: 0.5ms ease-in-out;
  color: #535e4b;
  background: #ffffff;
}

.last-updated {
  color: rgb(118, 118, 118);
  font-size: smaller;
}

a {
  text-decoration: none !important;
  color: #535e4b;
  cursor: default;
}
.exact-location-btn {
  display: block;
  margin: 0 auto;
  height: 100%;
}
.open-source-link {
  text-align: center;
  color: #e79c12;
  padding: 10px 3px 40px;
}
.degree-symbol {
  font-size: 28px;
  position: relative;
  top: -0.75em;
  left: 0.01em;
}

.row .forecast-rows {
  padding: 30px 0;
}
.search-box {
  border: none;
  padding: 0;
}
.country {
  color: rgb(118, 118, 118);
  font-size: smaller;
}
.row.search-engine {
  padding-bottom: 15px;
}
.btn.search_button {
  display: block;
  margin: 0 auto;
  height: 100%;
}
.row.forecast-rows {
  --bs-gutter-x: 0;
  --bs-gutter-y: 0;
}
